In [1]:
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import numpy as np
from scipy import stats

In [8]:
pulse = Table.read_table('pulse.csv').drop(0)
baby = Table.read_table('baby.csv')
hodgkins = Table.read_table('hodgkins.csv')

In [11]:
pulse

Active | Rest | Smoke | Sex  | Exercise | Hgt  | Wgt
97     | 78   | 0     | 1    | 1        | 63   | 119
82     | 68   | 1     | 0    | 3        | 70   | 225
88     | 62   | 0     | 0    | 3        | 72   | 175
106    | 74   | 0     | 0    | 3        | 72   | 170
78     | 63   | 0     | 1    | 3        | 67   | 125
109    | 65   | 0     | 0    | 3        | 74   | 188
66     | 43   | 0     | 1    | 3        | 67   | 140
68     | 65   | 0     | 0    | 3        | 70   | 200
100    | 63   | 0     | 0    | 1        | 70   | 165
70     | 59   | 0     | 1    | 2        | 65   | 115
... (222 rows omitted)

In [12]:
baby

Birth Weight | Gestational Days | Maternal Age | Maternal Height | Maternal Pregnancy Weight | Maternal Smoker
120          | 284              | 27           | 62              | 100                       | False
113          | 282              | 33           | 64              | 135                       | False
128          | 279              | 28           | 64              | 115                       | True
108          | 282              | 23           | 67              | 125                       | True
136          | 286              | 25           | 62              | 93                        | False
138          | 244              | 33           | 62              | 178                       | False
132          | 245              | 23           | 65              | 140                       | False
120          | 289              | 25           | 62              | 125                       | False
143          | 299              | 30           | 66              | 136                       | True
140          | 351              | 27           | 68              | 120                       | False
... (1164 rows omitted)

In [13]:
hodgkins

height | rad  | chemo | base   | month15
164    | 679  | 180   | 160.57 | 87.77
168    | 311  | 180   | 98.24  | 67.62
173    | 388  | 239   | 129.04 | 133.33
157    | 370  | 168   | 85.41  | 81.28
160    | 468  | 151   | 67.94  | 79.26
170    | 341  | 96    | 150.51 | 80.97
163    | 453  | 134   | 129.88 | 69.24
175    | 529  | 264   | 87.45  | 56.48
185    | 392  | 240   | 149.84 | 106.99
178    | 479  | 216   | 92.24  | 73.43
... (12 rows omitted)